# Prerequisites
*.d
*.ppm

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
Release/
Debug/
/**/CMakeFiles/
/**/CMakeCache.txt
/**/cmake_install.cmake
*.vcxproj*
*.sln
*.ilk
*.pdb

# IDE
.idea
/.vscode
.cache/
.ipch/
*.VC.db
*.opendb

# OS
.DS_Store
Thumbs.db

# Generated outputs
*.bmp
compile_commands.json
